body{
    display: flex;
    flex-direction: column;
}

.container{
    width: 50%;
    background: #FFF1D7;
    border: 1px solid;
    padding: 10px;
}

.ng-logo {
    width: 200px;
    margin-bottom: 10px;
}

.headingone{
    align-items: center;
    background: orange;
    color:white;
    padding: 10px;
    font-weight: 700;
    border-radius: 8px;
}

.headingone p{
    margin: 0;
}

.headingtwo{
    align-items: center;
    background: red;
    color:white;
    padding: 10px;
    font-weight: 700;
    border-radius: 8px;
}

.headingtwo p{
    margin: 0;
}
.imp{
    border: 0px solid;
    color:red;
    font-size: 30px;
    text-align: left;
    margin: 0;
    padding: 0;
    padding-left: 4px;
}
.every_field{
    margin-right: 0;
    padding-right: 0;
}
.calculate_btn_div{
    display: flex;
    flex-direction: row-reverse;
}

.calculate_btn{
    background-color: #B71C1C; /* Dark Red */
    border: none;
    color: white;
    padding: 6px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 7.7%;
}

.calculated_points{
    justify-content: center;
    align-items: center;
    border: 1px solid;
    margin-top: 20px;
    padding: 5px;
    background: #D9EDF7;
}
.calculated_points p{
    margin: 0;
    font-size: 18px;
}